*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ----------HEADER SECTION----------- */
nav{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 15px #7d7d7d;
}

.logo{
    width: 25%;
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 3em;
    margin-left: 10px;
    color: rgb(125, 206, 4);
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.links p{
    color: #444;
    transition: .3s ease-in-out;
}

.links p:hover{
    color: greenyellow;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.operations{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* -------------MAIN SECTION - 1 --------------- */
.section-1{
    margin-top: 50px;
    margin-left: 50px;
}

.heading-1{
    display: flex;
    margin-bottom: 30px;
}

.h{
    width: 30%;
    font-size: 2em;
}

.buttons{
    width: 70%;
}

.buttons button{
    width: 120px;
    height: 45px;
    background-color: rgb(207, 206, 206);
    color: rgb(50, 50, 50);
    border: none;
    border-radius: 45px;
    margin-left: 30px;
    font-size: 18px;
    padding: 10px;
    transition: .3s ease-in-out;
}

.buttons button:hover{
    background-color: orange;
    color: white;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.cards-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.cards-1 .card{
    width: 280px;
    height: 500px;
    border: 1px solid orange;
    border-radius: 25px;
}

.cards-1 .card .image{
    height: 35%;
}

.cards-1 .card img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

.cards-1 .card .info{
    text-align: center;
    margin-top: 20px;
    color: #767676;
}

.cards-1 .card .info p{
    /* margin-top: 10px; */
    padding: 30px 20px;
    font-size: 20px;
}

.cards-1 .card .price{
    padding: 15px;
}

.cards-1 .card .price p{
    font-size: 20px;
    font-weight: 600;
}

.cards-1 .card .price button{
    margin-top: 10px;
    border: 1px solid orange;
    border-radius: 30px;
}

.cards-1 .card .price .button-text{
    font-weight: 100;
    padding: 8px 15px;
    color: rgb(102, 171, 0);
}
/* -------------MAIN SECTION - 2 ------------ */
.section-2{
    margin-top: 50px;
}

.heading-2 h1{
    text-align: center;
    font-size: 4em;
    color: #4b4b4b;
}

.heading-2 p{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    padding: 30px 100px;
}

.cards-2{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 20px;
    margin: 45px 100px 60px 100px;
}

.indi-card{
    /* width: 300px; */
    height: 250px;
    border: 1px solid #444;
    display: flex;
}

.indi-card .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.indi-card .info button{
    padding: 8px 20px;
    border-radius: 30px;
    border: 1px solid orange;
    color: rgb(102, 168, 2);
}

.indi-card p{
    font-size: 20px;
}

.indi-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indi-image img{
    width: 100%;
    height: 80%;
    padding: 30px;
    border-radius: 50%;
}
